html{
    height:100%;
    min-height:100%;
}
body{
    margin:0;
    padding:0;
    height:100%;
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-container{
    width:80%;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    box-shadow:0 3px 5px gainsboro;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
}
.input-box{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}
.popup{
    position:relative;
    background-color: #db93b6;
    width:60%;
    margin: 20px auto;
    border-radius: 3%;
    padding:1%;
}
.close-btn{
    float:right;
    margin:10px 10px;
}
.date-box,.lucky-number-box{
    display:flex;
    flex-direction: column;
    margin:5px;
}
.btn{
   border: none;
   cursor: pointer;
   height:30px;
   width:78px;
   margin:5px;
   background-color: #db93b6;
}
.btn:active{
    transform: scale(1.1);
}
.hidden{
    display:none;
}
.close-btn:hover{
    cursor:pointer;
}
.description-box{
    background-color: #32908f;
    color:#fffadc;
    padding:5%;
}
.date,.lucky-no{
    margin:10px;
}
.crying{
    width:415px;
    height:200px;
}
.party{
    width:125.99px;
    height:127.99px;
}
.warning{
    color: #32908f;
    font-weight: bold;
}
footer{
    background-color: #32908f;
    height:80px;
    width:100%;
    display: flex;
    justify-content: center;
}
.media-box{
    margin:20px auto;
    display: flex;
    width:200px;
    justify-content: space-evenly;
}
@media screen and (max-width: 450px){
.main-container{
    width:100%;
}
.crying{
    width:90%;
}
}